

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
  
        <form class="signup">
          <div class="form-group">
            <label for="disabledTextInput">Name</label>
            <input type="text" id="disabledTextInput" class="form-control" #name value="{{socialName}}" readonly>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" #email value="{{socialEmail}}" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <br>
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="createSocialUser(name.value,email.value)" >Submit</button>
        </form>
      </div>
    </div>
  </div>